<h4>All Comments:</h4>

<% @comments.each do |comment| %></br>
    - <%= link_to comment.text, comment_path(comment) %>
<% end %></br>
    </br>
<%= button_to "Back to Posts", posts_path, :method => :get %></br>

<%= button_to "Back to Diseases", diseases_path , :method => :get %>