<h4>Topics:</h4>
<% @topics.each do |topic| %></br>
    - <%= topic.title %>
<% end %></br>
    </br>
<%= button_to "Back to Posts", posts_path, :method => :get %></br>

<%= button_to "Back to Diseases", diseases_path , :method => :get %>