<h2>Welcome to BowMom's Capsule group!</h2></br>

<p>BowMom's Capsule is a website supports the mothers of children with chronic kidney diseases.</p>
<p>You can select a disease and read available posts about it and please feel free to share your own experiences by writing a post.</p>
</br>
<a href="https://cdn.theatlantic.com/assets/media/img/mt/2019/05/Tang_Atlantic_RareDiseaseFinal/lead_720_405.jpg?mod=1559248559">
<img src="/images/Friendship_Umbrella.jpg" alt="Friendship_Umbrealla" width=480px height=300px>
</a></br>

<h4>Kidney Diseases in Children:</h4>

</br>
    <ul>
    <% @diseases.each do |disease| %>
       <li class="diseases"> <%= link_to disease.name, disease_path(disease) %></li>
    <% end %></br>
        </br>
    </ul>

<%# <%= button_to "Add a New Post", new_post_path , :method => :get %>